@use "variables";
header {
    background-color: variables.$celeste;
    background-image: linear-gradient(to bottom, variables.$celeste, variables.$celeste-cielo, variables.$celeste-agua, variables.$verde, variables.$amarillo);
    color: variables.$azul;
    padding: 40px 0;
    text-align: center;}
/* Imagen del banner */
header .banner {
    margin: 30px;
    width: 30%;
    max-height: 800px;
    object-fit: contain;}
footer {
        background-color:variables.$celeste;
        background-image: linear-gradient(to bottom, variables.$amarillo, variables.$verde,variables.$celeste-agua, variables.$celeste-cielo, variables.$celeste);
        padding: 1em;
        text-align: center;
        margin-top: auto;}
    .facebook{
        float: left;
        width: 50px;
        max-height: 50px;}
    .facebook:hover{
        transform: scale(1.2)}
    .instagram{
        float: left;
        width: 50px;
        max-height: 50px;}
    .instagram:hover{
        transform: scale(1.2)}
    .wplogo{    
        width: 60px;
        max-height: 60px;
        position: fixed;
        bottom: 70px;
        right: 20px;
        z-index: 1000;
        transition: transform  0.3s ease;}
    .wplogo:hover{
        transform: scale(1.2)}
    .copyrigth{
        float: right;
        font-size: larger;
        font-family: variables.$fuente-courier;}