.origen{font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;}
.produccion{font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;}
.importancia{font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;}