@use "variables";
.proceso{
    @extend .origen;
    text-shadow: 17px 11px 4px rgba(0,0,0,0.6)
}
.maceracion{
    @extend .origen;
    text-shadow: 17px 11px 4px rgba(0,0,0,0.6)}
.hervido{
    @extend .origen;
    text-shadow: 17px 11px 4px rgba(0,0,0,0.6)}
.fermentacion{
    @extend .origen;
    text-shadow: 17px 11px 4px rgba(0,0,0,0.6);
}
