$celeste:#6a9dfc;
$celeste-cielo:#00bcfc;
$celeste-agua:#00cfcc;
$verde:#67d78a;
$amarillo:#d1d361;
$azul:rgb(2, 3, 88);
$fuente-courier:'Courier New', Courier, monospace;
$negro:#000000;


.origen{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;}